<div id="fa-icon">
<% if video.liked_by?(current_user) %>
  <%= link_to video_likes_path(video.id), method: :delete, remote: true do %>
    <div id="hearts" class="on HeartAnimation"></div>
  <% end %>
  <div class="like-count"><%= video.likes.count %></div>
<% else %>
  <%= link_to video_likes_path(video.id), method: :post, remote: true do %>
    <div id="heart"></div>
  <% end %>
  <div class="like-count"><%= video.likes.count %></div>
<% end %>
</div>

<script>
  window.onpageshow = function() {
    if(event.persisted){
      window.location.reload();
    }
  };
</script>
