<div id="room_signin">
  <h1>ルームのパスワードを入力</h1>
  <%= form_for(:room, {controller: 'rooms', action: 'authenticate'}) do |f| %>
    <div class="form-group">
      <%= f.label :'パスワード' %>
      <%= f.text_field :password %>
    </div>
    <%= f.submit "入力" %>
  <% end %>
</div>
