<div id="about" class="container">
  <div class="about-title">
    What L/Log??
  </div>

  <div class="about-message-top">
    自分の過去を振り返った時、あの時自分はどう思っていたのか。<br>
    どう考えて選択をしてきたのか。<br>
    たくさんの点と点が繋がって今があります。<br>
    自分の大切な思い出を。あるいは、大切な人や仲間たちとの最高の思い出を。<br>
    ここに残していきませんか。
  </div>

  <div class="about-video">
    ドドンガドン
  </div>

  <div class="about-message-bottom">
    L/Logとは人生（Life）の記録（Log）の略です。<br>
    今までの経験や体験が今の自分に繋がっていると考え、<br>
    自分がどんな人生を歩んできたのか、そんなアプリケーションがあれば、<br>
    今の自分を未来の自分に繋げていけるのでは無いかと考えました。<br>
    人生をもっと豊かに。もっと夢中に。もっと楽しく。<br>
    そんな思いでこのアプリケーションを作りました。<br>
    <%= link_to "Back", root_path %>
  </div>
</div>
