<div id="bg-video">
  <video src="/videos/Sea-38971.mp4" autoplay muted loop ></video>
  <div class="overlay">
  </div>
  <p>L/Log</p>
</div>

<div class="message-wrapper container">

  <div class="message-top">
    <p>
      日常のワンシーンを切り取る。<br>
      毎日を積み重ねていく。<br>
      誰でもない、自分だけの記録を残していく。
    </p>
  </div>

  <div class="video">
    <% if @video %>
      <video src="<%= rails_blob_path(@video.video) %>" type="video/mp4" width="640" height="360" muted controls></video>
    <% elsif %>
      <%= image_tag asset_path('guitar-5531027_640.jpg') %>
    <% end %>
  </div>

  <div class="message-bottom">
    <p>自分だけのストーリーを残していきませんか？</p>
  </div>

  <div class="new-registration">
    <%= link_to "さっそく登録する", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to "about", variouses_about_path %>

</div>
