// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new{
  .room-introduction{
    font-size: .8rem;
    margin: 3% 0;
  }
}

#room-index{
  display: flex;

  .container{
    margin: 0 3%;

    li{
      color: #777;

      span{
        margin-left: 2%;
      }
    }
  }
}

#room-edit{
  width: 100%;
  height: 100vh;
  color: #5e5e5e;
  background-color: #e9e9e9;

  p{
    margin-bottom: 0.5rem;
  }

  form{
    width: 50%;
    max-width: 450px;
    min-width: 350px;
    padding: 4em 1.5em 0 1.5em;
    margin: 30px auto;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 0 8px gray;

    .not-user{
      text-align: center;
      padding-bottom: 50px;
    }

    .checkbox-list{
      margin-bottom: 32px;

      input[type="checkbox"]{
        display: inline-block;
        width: 10%;
        margin-left: 20%;
      }
      input[type="checkbox"] + label {
        display: inline-block;
        margin-left: 2%;
        width: 40%;
      }
    }

    .update-btn{
      width: 50%;
      text-align: center;
      margin: 0 auto;
      input{
        margin-bottom: 18px;
      }
    }

    input{
      border: none;
      border-bottom: 2px solid #e9e9e9;
      width: 100%;
      outline: none;
      margin-bottom: 30px;
    }

    span{
      width: 100%;
      display: inline-block;
      text-align: center;
      margin-bottom: 32px;

      a{
        width: 50%;
        display: inline-block;
      }
    }
  }
}


#show{
  .container{
    padding-top: 0;

    h2{
      margin-bottom: 36px;
    }

    .menbers{
      margin-bottom: 32px;

      .menber{
        padding: 0;

        img{
          width: 70px;
          height: 70px;
        }
      }
    }

    .add-menber{
      margin: 2% 0;
    }

    #room-messages{
      .obj{
        margin: 2% 0;
      }
      .message-user{
        padding: 0;
        a{
          margin: 0 auto;
          display: inline-block;
          img{
            width: 100%;
            max-width: 90px;
            max-height: 90px;
          }
          p{
            font-size: 0.6rem;
            text-align: center;
          }
        }
      }
      .message-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        display: inline-block;

        span{
          font-size: .5rem;
          margin-bottom: 3px;
          color: #666;
        }

        p{
          margin: 0;
          padding: 10px;
          font-size: 0.8rem;
          border-radius: 5px;
          background-color: #fff;
          display: inline-block;
        }
      }
      .message-info{
        display: flex;
        align-items: flex-end;

        p{
          font-size: .8rem;
          i{
            font-size: 1.1rem;
          }
        }
      }
    }
    .form_field{
      margin-bottom: 32px;

      textarea{
        width: 80%;
      }
    }
  }
}
